* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #181717;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  display: flex;
  gap: 1rem;
  padding: 10px;
  color: white;
  width: 100%;
}

.sidebarbtn {
  width: 30px;
  background-color: #181717;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 3rem;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #1a1a1b;
  padding: 20px;
  transition: left 0.4s ease-in-out;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar.open {
  left: 0;
}

.chat-box-wrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.chat-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  height: 75vh;
  width: 65%;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.user-message {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;

}

.user-message p {
  background-color: #424244;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.bot-message {
  align-self: flex-start;
  margin-bottom: 2rem;
}

.bot-message p {
  background-color: #302e2e;
  padding: 10px;
  color: white;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat-input-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.chat-input {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 65%;
}

.chat-input input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 40px;
  border: none;
  background-color: #353333;
  color: white;
  font-size: 1rem;
}

.chat-input button {
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 10px 20px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

.nochat{
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.start-chat-btn {
  background-color: #424244;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.start-chat-btn:hover{
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


::-webkit-scrollbar-track {
  background:#181717;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background-color: #363434;
  border-radius: 10px;
  border:none;
}


::-webkit-scrollbar-thumb:hover {
  background-color:white;
}

.sidebarinput{
  background-color:#1a1a1b;
  border: 1px solid white;
  color: white;
  height: 40px;
  border-radius: 10px;
  width: 200px;
}

.sidebarinput::-webkit-input-placeholder{
  color: white;
  text-align:start;
}

.createchatbtn{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120px;
  margin-left: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background-color: #555;
  color:white;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
}
.createchatbtn:hover{
  background-color: white;
  color: black;
}

@media only screen and (max-width: 575.98px) {
  .chat-box{
    width: 100%;
  }
  .chat-input{
    width: 90%;
  }
  .bot-message p{
    max-width: 80%;
  }

}

@media only screen and (max-width: 767.98px) {
  .chat-box{
    width: 100%;
  }
  .chat-input{
    width: 90%;
  }
}

@media only screen and (max-width: 991.98px ) {
  .chat-box{
    width: 90%;
  }
  .chat-input{
    width: 90%;
  }
}

.loading-spinner {
  display: none;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 25px;
  height: 25px;
  margin-left: 1rem;
  margin-top: 0.8rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
